.location-search-input {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.autocomplete-dropdown-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 5px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  line-height: 1.5;
}

.suggestion-item--active {
  background-color: #f0f0f0;
}

.suggestion-item span {
  color: #333;
}
