body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: #85b8cb;
  border-width: 10px 10px 10px 10px;
}

.left-content,
.right-content {
  flex: 1;
  background-color: white;
}

.left-content {
  background-color: #85b8cb;
  color: white;
}

.event-details {
  background-color: #85b8cb;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: center;
}

.event-details h3 {
  margin-top: 0;
}
.eventD {
  font-size: 2rem;
}
.event-details-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.event-details-list li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.event-details-list li:last-child {
  border-bottom: none;
}

.event-details-list strong {
  color: #1d6a96;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .left-content,
  .right-content {
    flex-basis: auto;
    margin-bottom: 20px;
  }
}
