.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.left-content {
  order: 3;

  background-color: #f9f9f9;
}

.right-content {
  order: 2;
  flex-grow: 1;
  overflow: hidden;
}

.filter-container {
  order: 1;
  padding: 10px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.event-tag {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 15px;
  font-size: 0.9em;
}

.register-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.register-button:disabled {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .left-content,
  .right-content {
    order: 0;
  }
}
